<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>

    <style>

        body {
            background-image: url('/img/background.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            text-align: center; 
        }

        ul.navbar-max {
            list-style: none; 
            display: inline; 
            float:right;
            font-size:20px
            
        }
        
        ul.navbar-max li {
            display: inline-block; 
        }
        a:link {
            text-decoration: none;
        }

    </style>

</head>
<body>

<!-- Your HTML content goes here -->

</body>
</html>
