<nav class="navbar">
  <div>
    <img src="/img/logo.png" alt="logo" style: width="150px"; height="100px">

    <div >
      <ul class="navbar-max">
        <b>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/products">Product</a>
        </li>
        <li>
          <a href="/services">Services</a>
        </li>
    </b>
        </ul>
    </div>
  </div>



  
</nav>


<style>
  .navbar {
    display: flex;
    justify-content: center;
  }

  .navbar-max {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar-max li {
    margin: 0 10px;
  }

  .navbar-max li a {
    text-decoration: none;

    font-weight: bold;
  }
</style>