<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>


<main>
<div>

    <h2>Welcome to <%= title %> Page</h2>
    
    
    <p>
        My name is Hyeontak Ko.
        <br>
        I'm from South Korea. I speak three languages: English, French, and Korean.
        <br>
        I'm studying at Centennial College, and my major is software engineering technician.
        <br>
        I'm a fast learner. Please contact me anytime.

        <h4><a href="/file/Resume.docx">Download Resume</a></h4>

    </p>
    </div>
</main>



   