<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>


<style>

    body {
        background-image: url('/img/home.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    h2, p{
        color: black;
    }
</style>

<main>
<div>

    <h2>Welcome to <%= title %> Page</h2>

    
    <p>
        Thank you so much for visiting my portfolio wesites

    </p>

    <h2>          <a href="/about">About</a> Page</h2>
    <p>
        Personal information page
    </p>
    <h2>           <a href="/contact">Contact</a> Page </h2>
    <p>
        Contact information and send a email to me
    </p>
    <h2>          <a href="/products">Product</a> Page</h2>
    <p>
        Products page
    </p>
    <h2>          <a href="/services">Services</a> Page</h2>
    <p>
        Service page
    </p>
    </div>

</main>




   