<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main>
<div>

    <h1>Welcome to <%= title %> Page</h1>

    <ul>
        
            <h3>Restaurant Bill Calculator</h3>
            <p>Using a WPF app</p>
            <img src="/img/project1.png" width="570px" height="330px">
            <p>
                Make a Restaurant Bill Calculator using WPF app.
                <br>
                Able to add a food, a price, and a count.
                <br>
                <a href="https://github.com/HyunTakKo/C-WPF-app">Link of work</a>
                <br>
                <a href="/file/COMP212 - Lab3 - WPF.pdf">Download a instructions</a>
            </p>
        

    </ul>

    </div>
</main>




   