<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main>
<div >

    <h1>Welcome to <%= title %> Page</h1>


    <ul>
        
        <h3>Front-End</h3>
        <img src="/img/service3.png" width="512px" height="288.5px">
        <p>
            Combination of two different elements: the graphic design (the look) and the user interface
            <br>
            To make the front-end, make it with the ones below.
            <br>
            
        </p>
    

</ul>

    <ul>
        
            <h3>HTML</h3>
            <img src="/img/service1.png" width="225px" height="225px">
            <p>
                The basic scripting language used by web browsers to render pages on the world wide web
                <br>

            </p>
        

    </ul>

    <ul>
        
        <h3>Javascript</h3>
        <img src="/img/service2.jpeg" width="400px" height="168px">
        <p>
            JavaScript is a dynamic programming language that's used for web development, <br>
            in web applications, for game development, and lots more
            <br>
            
        </p>
    

</ul>

    </div>
</main>




   